html{
    margin: 0;
    color:#3f3f3f;
    font-family: Helvetica, sans-serif;
    line-height: 25px;
}
body{
    margin: 0 auto;
}
/* Navbar Section */
.nav ul{
    display:flex;
    flex-direction: row;
    list-style: none;
    flex-grow: 1;
    justify-content: flex-end;
    align-items: center;
    padding: 20px;
}
.nav ul li{
    padding:10px 20px;
    text-align: center;
    text-decoration: none;
}
.nav{
    width:100%;
    display:flex;
    flex-direction: row;
    flex-grow: 1;
    align-items: space-around;
}
a{
    text-decoration: none;
    color:#828282;
}
a:hover{
    color:#3f3f3f;
}
a:active{
    color:#3f3f3f;
}
.logo a{
    color:#3f3f3f;
    display:flex;
    flex-direction: row;
    align-items: center;
    padding:30px;
}
.logo a p{
    font-size: 20px;;
}
.logo img{
    height:50px;
    margin-right:20px;
}
/* Home- Profile Section */
.profile{
    display:flex;
    flex-direction: row;
  
    align-items: center;
    justify-content: center;
    margin:8% 22%;
}
.avatar{
    margin-right: 30px;
    border-radius: 50%;
    border: 18px solid white;
    box-shadow: 0px 0px 20px#cfd8dc;
    
  }
.profile-image-container img{
    height:300px;
}
.profile-text p{
    margin:24px;
    
}
.profile-text p:nth-child(1){
    color:#828282;
}
.profile-text p:nth-child(2){
    font-weight: bold;
    font-size: 40px;
    line-height: 45px;
   
}
/* Buttons */
.btn-container{
    margin-top: 5%;
    margin-left: 3%;
}
.btn{
    padding:2% 5%;
    border: 2px #cfd8dc solid;
    border-radius: 200px;
    margin-right: 2%;
    box-shadow: 0px 0px #3f3f3f 20px;
    transition: 0.4s all ease;
}
.btn:hover{
    background: #46E0BB;
    color:white;
    border-color: #46E0BB;
}
/* About - Title */
.title{
    font-size: 20px;
    display:flex;
    flex-direction: row;
    padding:2% 5%;
    background-color: #FCFCFC;
    border: 2px solid #EEEEEE;
}
/* About - Table */
.about-experience{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
tbody{
    display: table-row-group;
    vertical-align: middle;
    border-color: inherit;
}
thead tr{
    background-color: #46E0BB;
    padding: 10px;
    border-radius:10px 10px 0 0;
    color: white;
    font-size: 20px;
}
table{
    border-radius: 10px;
    box-shadow: 0px 0px 20px lightgrey;
    display: table;
    border-collapse: separate;
    border-spacing: 2px;
    border-color: grey;
   
    font-size: 16px;
    width: 90%;
    text-align: left;
    border-collapse: collapse;
    margin: 20px;
}
tr{
    border-bottom: 1px solid #ddd;
    display: flex;
    justify-content: space-around;
    text-align: left;
    align-items: center;
    padding: 5px;

}
tr:nth-child(2){
    background-color: #FCFCFC;
}
td{
    justify-content: center;
    display: flex;
    flex-direction: row;
    width: 50%;
}
/* Skills */
.skills{
  
    margin:1% 10%;
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
    align-content: center;
}
.skillbox{
    /* border: 2px solid lightgray; */
    border-radius: 10px;
    box-shadow: 0px 0px 25px #FCFCFC;
    margin:10px;
    padding: 10px;
    width: 40%;
    text-align: center;
    flex-direction: column;
    align-items: center;
    align-content: center;
    transition: 0.2s all ease;
    
}
.skillbox:hover{
    margin-top: 5px;
    box-shadow: 0px 15px 25px lightgray;
}
.skillbox p{
    padding: 10px;
}
.skillbox i{
    margin-top: 20px;
    font-size: 70px;
}
.fa-globe-americas{
    color:#46E0BB!important;
}
.fa-chart-bar{
    color:#ff4264!important;
}
.fa-cogs{
    color:#ffc044!important;
}
.fa-palette{
    color:#1168ff!important;
}
/* Contact Page */
.contact-card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 3% 25%;
    
    align-self: center;
    text-align: center;
    box-shadow: 0px 0px 20px #EEEEEE;
}
.contact-card > h1{
    background-color: #46E0BB;
    margin:0;
    padding:40px;
    color: white;
}
.image-card{
    color:#3f3f3f;
    
    text-align: left;
    
    display: flex;
    flex-direction: row;

    justify-content: space-between;
}
.block{
    width:100%;
    padding:40px;
    height:300px;
}
.map{
    background-image: url('/resources/map.PNG');
    background-size: cover;
    
}
.contact-card h2{
    font-weight: 500;
}
.contact-card p{
    color:#46E0BB;
    font-weight: bold;
    font-size: 18px;
}
.img_map{
    width:50%;
}